@charset "ISO-8859-1";

#encabezado {
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background: transparent;
}

.logo {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  opacity: 0.6;
}

body {
background-image: url("../imagenes/fondo_vino_index.jpg");
background-repeat: round;
background-attachment: fixed;
}

.title {
  color: white;
  text-align: right;
}

label {
  text-align: left;
  color: white;
  font-size: 20px;
}


footer {
  background: black;
  color: white;
  padding-bottom: 3px;
  margin: auto 0px 0px 0px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.texto_footer {
  color: khaki;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px;
  font-family: courier;
}

/*
.datos{
  border-style: dotted dashed solid double;
}
/*.contacto {
  color: green;
    width: 50%;
}
