@charset "ISO-8859-1";
/* CSS Document */

body {
  background-image: url("../imagenes/fondo1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

#encabezado {
  border-radius: 60px;
  align-items: left;
  width: auto;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  opacity: 0.9;
  color: white;
}

#contenedor {
  border-radius: 60px;
  align-items: center;
  width: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15PX;
  opacity: 0.9;
  color: black;
}

.logo {
  margin-top: 10px;
  margin-left: 120px;
  margin-bottom: 30px;
  opacity: 0.6;
}

.titulo {
  color: white;
  font-weight: bold;
  font-family: arial;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}

p {
  color: black;
  text-align: justify;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  font-family: arial;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-family: courier;
}

h1 {
  color: white;
  padding-left: 150px;
  font-style: oblique;
}

h2 {
  color: white;
  padding-left: 150px;
  font-style: italic;
}

h4 {
  color: white;
  font-style: italic;
}

.reg {
  font-size: 10px;
  height: 35px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
